// breakepoints
$DesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TableWidth: 768px;
$PhoneWidth: 576px;
$SmPhoneWidth: 320px;

// colors
$white: #ffffff;
$black: #000000;
  // old 
$orange-2: #ff8721;
$orange-3: #FA5A00;
$orange-4: #ffcca2;
$orange-5: #fff5ed;
$purple-1: #5752a0;
$purple-2: #423E80;
$purple-12: #928FCD;
$blue: #3300ff;
$golden-yellow: #F0FF44; 
$yellow-white-sait: #f6f065;
$white-purple-1: #b5b0ff;
$white-purple-2: #d5d2ff;
  // young
$gradient-blue: linear-gradient(180deg, #706cff -55.77%, #4e48f1 100%);
$gradient-slider: linear-gradient(180deg, rgba(89, 71, 251, 0) 0%, #2E1FB3 100%);
$button-slider-bg: linear-gradient(177.12deg, #FF993C 5.17%, #FD7A02 94.72%);
$button-slider-border: rgba(255, 135, 33, 0.24);
$news-text-background: linear-gradient(180deg, rgba(0, 27, 121, 0.22) 28.72%, #001664 85%);
$background: #5A56EF;
$case-background-image: #605cf8;
$case-background-about: #3ed13b;
$blue-border: #4d48eb;
$bg-orange: #FE6845;
$grey: #B8C5D0;
$starColor: #FFD100;

// font-sizes
$fontOldMainSize: 14px;
$fontYoungMainSize: 18px;

$main: #c6538c;
$primary: purple;
$orange: #ff8721;
$orange--light: #fff5ed;
$orange--dark: #cf5915;
$violet: #5752a0;
// font-families
$f-muller: "Muller", serif;
$f-nunito: "Nunito", sans-serif;
$roboto: "Roboto", serif;
